.plofile{
  display: flex;
  flex-direction: column;
  padding:0;

  &__img{
    max-width:500px;

    & img{
      width: 100%;
    }
  }
}


/* MediaQuery */
@media only screen and (min-width: $break-point-pc) {



  .plofile{
    display: flex;
    flex-direction: row;

    &__img{
      margin-right: 30px;
    }

  }

  .p-text{
    line-height: 1.7;
    align-self: center;

  }
}
/* MediaQuery end */
