// スマホのみのフッターナビゲーション

.sp-menu{
  padding: 3% ;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0,.8);

  &__img{
    text-align: center;
  }
}


/* MediaQuery */
@media only screen and (min-width: $break-point-pc) {
  .sp-menu{
    display: none;
  }
}
/* MediaQuery end */
